on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  shellcheck:
    name: Run ShellCheck
    runs-on: ubuntu-latest
    steps:
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
